.nav-item > .nav-link.tab-link.active,
.nav-item.active > .nav-link.tab-link{
    background-color: #222a33;
}
.nav-link.image-btn.active{
    background-color: lightgray;
}

path{
    fill: none;
    stroke: black;
}
